<!--
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://code.alibabatech.com/schema/dubbo
	   http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


	&lt;!&ndash; 生成远程服务代理，可以和本地bean一样使用demoService &ndash;&gt;
	&lt;!&ndash;<dubbo:reference id="tokenService" interface="com.xinguang.usercentergate.api.TokenServiceInterface" group="${dubbo.group}" check="false" version="0.0.1"/>
	<dubbo:reference id="taskCallbackService" interface="com.xinguang.tubobo.consignor.api.TaskCallbackService" group="${dubbo.group}" version="0.0.1" check="false"/>&ndash;&gt;
	<dubbo:reference id="tokenServiceInterface" interface="com.xinguang.usercentergate.api.TokenServiceInterface" group="${dubbo.group}" version="0.0.1" check="false" timeout="3000"/>
	<dubbo:reference id="taskDispatchService" interface="com.xinguang.taskcenter.api.TaskDispatchService" group="${dubbo.group}" version="0.0.1" check="false"/>
	<dubbo:reference id="tbbRateService" interface="com.xinguang.tubobo.rate.api.TbbRateService"  group="${dubbo.group}" version="0.0.1" check="false"/>
	<dubbo:reference id="tbbAccountService" interface="com.xinguang.tubobo.account.api.TbbAccountService"  group="${dubbo.group}" version="0.0.1" check="false"/>
	<dubbo:reference id="tuboboExpressServiceInterface" interface="com.xinguang.tubobo.express.api.TuboboExpressServiceInterface"  group="${dubbo.group}" version="0.0.1" check="false"/>

</beans>-->
